# DEVELOPMENT or PRODUCTION
# The dev env will print more logs, allow localhost, etc
ENV=DEVELOPMENT

# For localhost only:
#KEYFETCH_ALLOW_INSECURE_HTTP=true

# What port the node server will run on
PORT=3000

# Generate a secure random secret
# xxd -l24 -ps /dev/urandom
# See https://therootcompany.com/blog/how-to-generate-secure-random-strings/
COOKIE_SECRET=CHANGE-ME

# Generate a keypair with https://webinstall.dev/keypairs
# keypairs gen --key key.jwk.json --pub pub.jwk.json
PRIVATE_KEY='{ "CHANGE": "ME" }'

GOOGLE_CLIENT_ID=000000000000-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.apps.googleusercontent.com
GOOGLE_REDIRECT_URI=https://example.com/login/
GOOGLE_TEST_TOKEN=xxxx.yyyy.zzzz
